.mainframe-wrapper {
    overflow: hidden;
    font-size: 150%;
}

.card_message {
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

/* patient */
.card_title {
    margin-bottom: 5%;
    font-size: 20px;
    color: #848b90;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-post {
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
}

#Patient {
    padding: 5px;
    margin-bottom: 1em;
    font-size: 2em;
}

#post-title {
    font-size: 2em;
    width: 100%;
    margin-bottom: 1em;
}

/* message */
.submitButton {
    padding: 0.5em;
    border: none;
    text-align: left;
    color: white;
    background-color: rgb(43, 35, 197);
}

#post-content {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
    font-size: 2em;
}